<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_UI_NavigtionController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B28E0A41D517F7C00F3A056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B28E0BD1D517F7C00F3A056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B28E0C81D517F7C00F3A056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
