<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignPatter_Prototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BF45FD41C33DC9A003F1321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BF45FED1C33DC9A003F1321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BF45FF81C33DC9A003F1321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
