<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Study_CoreData_2016_01_09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BAE2D6B1C415B9300998BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BAE2D841C415B9300998BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BAE2D8F1C415B9300998BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
