<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBDemo_AFNetWorking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B2BC1481D34916600D7A0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2BC1611D34916600D7A0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2BC16C1D34916600D7A0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
