<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DfshBookCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BFAE0211C0F82D300E4887B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFAE03A1C0F82D400E4887B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFAE0451C0F82D400E4887B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
